.recordDiv {
    float: left;
    color: black;
    border: .25px solid black;
    background-color: beige;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 10px;
    width: 230px;
    text-align: center;
}

#popUpDiv {
    float: left;
    height: 500px;
    width: 500px;
    color: black;
    border: .25px solid black;
    background-color: beige;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#genresDisplay {
    font-size: 22px;
}

#genresDisplay:hover {
    background-color: #E3EBF6;
}

section {
    color: beige;
}

.albumArt {
    height: 150px;
    width: 150px;
    padding-top: 10px;
}

/* .popUpArt {
    height: 300px;
    width: 300px;
    padding-top: 10px;
} */

span {
    padding: 10px;
}

input, select {
    margin-left: 11px;
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    background-color: beige;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    height: 3000px;
    /* width: 1500px; */
    background-image: url('images/vinyl.jpg');
    background-repeat: repeat;
}

main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    /* height: 1px; */
}
.featureDiv {
    float: left;
    padding-bottom: 5px;
    text-align: center;
    width: 200px;
    border: .25px solid black;
}



nav {
    width: 96%;
    /* margin: 0 auto 20px auto; */
    text-align: center;
    font-size: 25px;
    background-image: url('images/albums.jpg');
    color: beige;
    padding: 35px;
    margin-bottom: 1px;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
}
  
nav ul li {
    display: inline-block;
    text-align: center;
    /* margin-left: 100px; */
    border: 5px solid black;
}

.NavButton:hover {
    background-color: #E3EBF6;
    
}
  
nav ul li a {
    display: block;
    width: 200px;
    background-color: beige;
    padding: 10px;
    text-decoration: none;
    color: black;
}


table {
    width: 90%;
    margin: 20px;
    text-align: center;
    border-collapse: collapse; 
    background-color: beige;
}

th, td {
    border: .5px solid black; 
    font-size: 16px;
    padding: 8px;
}

h1 {
    padding-bottom: 20px;
    font-size: 54px;
}

h2 {
    font-size: 35px;
}
h4 {
    width: 180px;
    font-size: 20px;
    outline: .25px solid beige;
    margin-left: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    font-size: 25px;
    padding: 5px;
}

.mainButtonText {
    font-size: 24px;
    color: beige;
    padding: 15px;
}
.buttonText {
    font-size: 17px;
    margin: 0px;
}

form,  {
    margin-left: 8px;
}

#search {
    margin-left: 11px;
    margin-top:0px;
}
