body {
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    height: 3000px;
    /* width: 1500px; */
    background-image: url('images/vinyl.jpg');
    background-repeat: repeat;
}

.recordDiv {
    float: left;
    color: black;
    /* border: .25px solid black; */
    /* background-color: beige; */
    padding: 5px;
    margin: 15px;
   
}

.recordDiv:hover {
    background-color:beige
}

#popUpDiv {
    float: left;
    height: 600px;
    width: 400px;
    color: black;
    border: .25px solid black;
    background-color: beige;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: px;
    padding-top: 10px;
    text-align: center;
}

#genresDisplay {
    font-size: 22px;
    text-align: center;
    background-color: beige;
}

#genresDisplay:hover {
    background-color: #E3EBF6;
}

section {
    color: beige;
}

.albumArt {
    height: 150px;
    width: 150px;
    /* padding-top: 10px; */
    cursor: pointer;
}
.previewArt {
    height: 250px;
    width: 250px;
    outline: none;
}

.popUpArt {
    height: 250px;
    width: 250px;;
    margin: 15px;
    padding-top: 25px;
    border: none;
}

span {
    padding: 10px;
}

input, select {
    margin-left: 11px;
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    background-color: beige;
}


main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.featureDiv {
    float: left;
    padding-bottom: 5px;
    text-align: center;
    width: 200px;
    border: .25px solid black;
}



nav {
    width: 96%;
    /* margin: 0 auto 20px auto; */
    text-align: center;
    font-size: 25px;
    background-image: url('images/albums.jpg');
    color: beige;
    padding: 35px;
    margin-bottom: 1px;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
}
  
nav ul li {
    display: inline-block;
    text-align: center;
    /* margin-left: 100px; */
    border: 5px solid black;
}

.NavButton:hover {
    background-color: #E3EBF6;
    
}
  
nav ul li a {
    display: block;
    width: 200px;
    background-color: beige;
    padding: 10px;
    text-decoration: none;
    color: black;
}


h1 {
    padding-bottom: 20px;
    font-size: 54px;
}

h2 {
    font-size: 35px;
}

h4 {
    width: 180px;
    font-size: 20px;
    outline: .25px solid beige;
    margin-left: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    font-size: 25px;
    padding: 5px;
}

.mainButtonText {
    font-size: 30px;
    color: beige;
    padding: 10px;
}

.buttonText {
    font-size: 17px;
    margin: 0px;
}

form,  {
    margin-left: 8px;
}

#search {
    margin-left: 11px;
    margin-top: 5px;
}
