<div id="addRecordPopUp" ng-controller="RecordsController as vm">
    <section>
            <form ng-submit="vm.addRecord(vm.recordToAdd)">
                    <input type="text" placeholder="Artist Name" ng-model="vm.recordToAdd.artist">
                    <input type="text" placeholder="Album Title" ng-model="vm.recordToAdd.title">
                    <select ng-model="vm.recordToAdd.genre_id">
                            <option value="">Genre</option>
                            <option ng-repeat="genre in vm.records.genres" value="{{genre.genre_id}}">{{genre.name}}</option>
                    </select>
                    <select ng-model="vm.recordToAdd.release_year">
                            <option value="">Release Year</option>
                            <option ng-repeat="year in vm.years.list">{{year}}</option>
                    </select>
                    <select ng-model="vm.recordToAdd.run_time">
                            <option value="">Length (Minutes)</option>
                            <option ng-repeat="minute in vm.minutes.list">{{minute}}</option>
                    </select>
                    <input type="text" placeholder="image url" ng-model="vm.recordToAdd.album_img">
                <md-button class="mainButtonTextBlack" type="submit" ng-click="vm.changeView()">Submit</md-button>
            </form>
        </section>
        <div id="newRecFeedback" style="padding-bottom: 5px";>
                <span><strong>{{vm.recordToAdd.artist}}</strong></span>
                <span>{{vm.recordToAdd.title}}</span>
                <span>{{vm.recordToAdd.genre_name}}</span>
                <span>{{vm.recordToAdd.release_year}}</span>
                <span>{{vm.recordToAdd.run_time}}</span>
                <img class="previewArt" ng-src="{{vm.recordToAdd.album_img}}">
        </div>
</div>