<h2>Genres</h2>
<span>Create Genre</span><input type="text" placeholder="genre" ng-model="vm.genreToAdd">
<button ng-click="vm.addGenre(vm.genreToAdd)">Create</button>
<table>
    <thead>
        <tr><th>Genre</th><th>Total Records</th><th>Actions</th></tr>
    </thead>
    <tbody>

        <tr ng-repeat="genre in vm.records.genres">
            <td>{{genre.name}}</td>
            <td>{{genre.count}}</td>
            <td>
                <button ng-click="vm.deleteGenre(genre)">Delete</button>
                <button>Edit</button>
            </td>
        </tr>

    </tbody>
</table>