
    <input type="text" placeholder="Create Genre" ng-model="vm.genreToAdd" style="margin-left: 20px">
    <md-button class="mainButtonText" ng-click="vm.addGenre(vm.genreToAdd)">Create</md-button>
    <table>
        <thead>
            <tr><th>Genre</th><th>Total Records</th><th>Actions</th></tr>
        </thead>
        <tbody>

            <tr ng-repeat="genre in vm.records.genres">
                <td ng-show="edit"><input type="text" ng-model="genre.name"></td>
                <td ng-show="!edit">{{genre.name}}</td>
                <td>{{genre.count}}</td>
                <td>
                    <md-button class="material-icons" ng-click="vm.deleteGenre(genre)">&#xE872;</md-button>
                    <md-button class="material-icons" ng-show="edit" ng-click="vm.editGenre(genre); edit=false">&#xE876;</md-button>
                    <md-button class="material-icons" ng-show="!edit" ng-click="edit = true">&#xE85D;</md-button>
                </td>
            </tr>

        </tbody>
    </table>
