<md-button class="mainButtonText" ng-show="!vm.adding" ng-click="vm.changeView()">Add Record</md-button>
<section id="addRecord" ng-show="vm.adding">
    <form ng-submit="vm.addRecord(vm.recordToAdd)">
            <input type="text" placeholder="artist" ng-model="vm.recordToAdd.artist">
            <input type="text" placeholder="title" ng-model="vm.recordToAdd.title">
            <select ng-model="vm.recordToAdd.genre_id">
                    <option value="">Genre</option>
                    <option ng-repeat="genre in vm.records.genres" value="{{genre.genre_id}}">{{genre.name}}</option>
            </select>
            <select ng-model="vm.recordToAdd.release_year">
                    <option value="">Release Year</option>
                    <option ng-repeat="year in vm.years.list">{{year}}</option>
            </select>
            <select ng-model="vm.recordToAdd.run_time">
                    <option value="">Length (Minutes)</option>
                    <option ng-repeat="minute in vm.minutes.list">{{minute}}</option>
            </select>
            <input type="text" placeholder="image url" ng-model="vm.recordToAdd.album_img">
        <md-button class="mainButtonText" type="submit" ng-click="vm.changeView()">Submit</md-button>
        <md-button class="mainButtonText" ng-click="vm.changeView()">Cancel</md-button>
    </form>
</section>


<section ng-show="vm.adding">
    <span style="font-size:23px"><strong>{{vm.recordToAdd.artist}}</strong></span><br>
    <span>{{vm.recordToAdd.title}}</span><br>
    <span>{{vm.recordToAdd.release_year}}</span><br>
    <span>{{vm.recordToAdd.run_time}}</span><br>
    <!-- <img class="previewArt" ng-src="{{vm.recordToAdd.album_img}}"> -->
</section>

<section id="collection" ng-if="!vm.adding">
    <input id="search" type="text" placeholder="Search" ng-model="vm.searchQ">
    <br>
    <div ng-repeat ="record in vm.records.collection | filter:vm.searchQ" layout="column" class="recordDiv" flex>

        <div flex><img class="albumArt" ng-src="{{record.album_img}}" ng-click="vm.popUpRecord($event, record)"></div>

        <div flex ng-if="!edit" style="font-size:23px"><strong>{{record.artist}}</strong></div>
        <div>
            <input  type="text" ng-model="record.artist" ng-if="edit">
        </div>
        <div ng-if="!edit" style="font-size:18px"><em>{{record.title}}</em></div>
        <div>
            <input type="text" ng-model="record.title" ng-if="edit">
        </div>
        <div class="genreName" ng-if="!edit" style="font-size:12px">{{record.genre_name}}</div>
        <select ng-model="record.genre_id" ng-if="edit">
                <!-- not selected / blank option -->
                <option value="{{record.genre_id}}">{{record.genre_name}}</option>
                <!-- repeat over genres -->
                <option ng-repeat="genre in vm.records.genres" value="{{genre.genre_id}}">{{genre.name}}</option>
        </select>
        <div ng-if="!edit" style="font-size:12px">{{record.release_year}}</div>
        <select ng-model="record.release_year" ng-if="edit">
                <!-- not selected / blank option -->
                <option value="{{record.release_year}}">{{record.release_year}}</option>
                <!-- repeat over genres -->
                <option ng-repeat="year in vm.years.list">{{year}}</option>
        </select>
        <div ng-if="!edit" style="font-size:12px">{{record.run_time}} Minutes</div>
        <select ng-model="record.run_time" ng-if="edit">
                <!-- not selected / blank option -->
                <option value="{{record.run_time}}">{{record.run_time}}</option>
                <!-- repeat over genres -->
                <option ng-repeat="minute in vm.minutes.list">{{minute}}</option>
        </select>
        <div>
            <input  type="text" ng-model="record.album_img" ng-if="edit">
        </div>
        <div class="buttonsDiv"> 
            <md-button class="material-icons" ng-click="vm.deleteRecord(record); edit=false">&#xE872;</md-button>
            <md-button class="material-icons" ng-show="!edit" ng-click="edit = true">&#xE85D;</md-button>
            <md-button class="material-icons" ng-show="edit" ng-click="vm.editRecord(record); edit=false">&#xE876;</md-button>
            <md-button class="material-icons" ng-show="edit" ng-click="edit = false">&#xE14C;</md-button>
        </div>
    </div>
</section>

